<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="relative">
    <div
        class="text-white flex flex-col absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
        <nav class="flex justify-between px-4 py-6 border-b">
            <div class="logo text-2xl font-bold"><span class="text-blue-400">Cloud</span>TechDocs</div>

            <!-- <div class="auth font-semibold">
                <button class="bg-blue-400 px-2 py-2 rounded-md">Login</button>
                <button class="bg-white text-black px-4 py-2 rounded-md">Register</button>
            </div> -->

        </nav>

        <div class="main flex-1   flex items-start justify-center">
            <div class="wrapper leading-snug px-8  text-3xl  mt-20  font-bold">
                <div>
                    It's not just docs
                </div>
                <div>
                    It's <span class="text-blue-400">Cloud</span>TechDocs
                </div>
                <p class="my-4 text-lg font-thin text-slate-400">Kubernetes, also known as K8s, is an open source system
                    for
                    automating
                    deployment, scaling, and management of
                    containerized applications and many more docs......</p>

                <a href="https://kubernetes.io/docs/home/"><button
                        class="font-normal text-lg px-4 py-2 rounded-md bg-blue-400">Oficial
                        docs</button></a>
                <a href="/topics"><button class="font-normal text-lg px-4 py-2 rounded-md bg-blue-400  ">Make your
                        own</button></a>
            </div>

        </div>
    </div>

</body>

</html>