<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="main bg-black h-screen w-screen text-white flex items-center justify-center">

        <form action="" class="  flex flex-col gap-4 ">
            <div class="field flex flex-col">
                <label for="username">Username</label>
                <input placeholder="Username" type="text" name="topics[username]" id="username"
                    class="outline-none rounded-md   px-2 py-2 text-black">
            </div>
            <div class="field flex flex-col my-4">
                <label for="email">Email</label>
                <input placeholder="Email" type="email" name="topics[email]" id="email"
                    class="outline-none rounded-md   px-2 py-2 text-black">
            </div>
            <button class="bg-blue-400 px-4 py-2   rounded-lg">Register</button>
            <button class="bg-blue-400 px-4 py-2  rounded-lg">Home</button>
        </form>
    </div>

</body>

</html>